/* Body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Container styles */
.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.tital {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    /* Add some padding to provide space between the left edge of the page and the elements */
    box-sizing: border-box;
    /* Ensure padding is included in the width calculation */
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

.navbar a:hover {
    background-color: #555;
}

/* Clear floats (clearfix hack) */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex-container > div {
    width: 50%;
}

.flexi > div {
    width: 50%;
}

.flex-container {
    display: flex;
}

/* Heading styles */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 16px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.two {
    margin: auto auto;
}

#productResultMessage,
#modelResultMessage {
    color: red;
    max-width: 500px;
    padding: 16px;
    background-color: #f2f2f2;
    border-radius: 6px;
}

#modelResultMessage {
    margin: 20px auto;
}

#productResultMessage {
    margin: 0px auto;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .container {
        padding: 15px;
    }
}
